<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Chat-IT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="{{cdn}}/images/favicon.ico">

    <!-- DataTables -->
    <link href="{{cdn}}/dist/pages/home/css/home.min.css" rel="stylesheet" type="text/css" />

    <!-- App css -->
    <link href="{{cdn}}/dist/css/style.min.css" rel="stylesheet" type="text/css" />

    <script src="{{cdn}}/js/modernizr.min.js"></script>
</head>

<body>
    <!-- Begin page -->
    <div id="wrapper">
        {{>sidebar}}
       
        <div class="content-page">
            {{>topbar}}

            <!-- Start Page content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card-box">
                                <h4 class="header-title">Recent Activity</h4>
                                <table class="table table-hover m-0 tickets-list table-actions-bar dt-responsive nowrap" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Room</th>
                                            <th>Posted By</th>
                                            <th>Topic</th>
                                            <th>Replies</th>
                                            <th>Date</th>
                                            <th class="hidden-sm">Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {{#topics}}
                                             <tr>
                                            <td><b>{{room}}</b></td>
                                            <td>
                                                <a href="#">
                                                    <img src="/images/users/avatar-8.jpg" alt="contact-img" title="contact-img" class="rounded-circle" />
                                                    <span class="ml-2">{{profile.username}}</span>
                                                </a>
                                            </td>
                                            <td>
                                                <a style="color:red" href="#">{{title}}</a>
                                            </td>
                                           
                                            <td><span class="badge badge-warning">7</span></td>
                                            
                                            <td>2019/05/15</td>
                                            
                                            <td>
                                                <div class="btn-group dropdown">
                                                    <a href="javascript: void(0);" class="table-action-btn dropdown-toggle arrow-none btn btn-light btn-sm" data-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-horizontal"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-pencil mr-2 text-muted font-18 vertical-middle"></i>Edit Ticket</a>
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-check-all mr-2 text-muted font-18 vertical-middle"></i>Close</a>
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-delete mr-2 text-muted font-18 vertical-middle"></i>Remove</a>
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-star mr-2 font-18 text-muted vertical-middle"></i>Mark as Unread</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {{/topics}}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- container -->
            </div>
            <!-- content -->
            {{>footer}}
        </div>
    </div>
    <!-- END wrapper -->

    <!-- jQuery  -->
    <script src="{{cdn}}/dist/js/vendor.min.js" type="text/javascript"></script>

    <!-- Specific to Home Page  -->
    <script src="{{cdn}}/dist/pages/home/js/home.min.js" type="text/javascript"></script>

    <!-- App js -->
    <script src="{{cdn}}/dist/js/app.min.js" type="text/javascript"></script>
</body>

</html>